.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    a.brand(href='/') TeachIt
    ul.nav
      li
        a(href='#') Home
    ul.nav.pull-right
      li
        - console.log("AUTHED: " + isAuthenticated());
        - if (isAuthenticated())
          a(href="/logout") Logout
        - else
          a(href="/login") Login

