doctype 5
html
  head
    title TeachIt
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
  body
    #header
      include includes/header
    #content
      block content
    #footer
      include includes/footer
    script(src='/js/bootstrap.min.js')