doctype 5
html
  head
    title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    .container
      #header
        include includes/header
      #content
        block content
      #footer
        include includes/footer
      script(src='/js/bootstrap.min.js')